<p>Hi {{ name }},</p>

<p>You requested your Goalmine password to be reset on {{ date }}.</p>

<p>To reset your password, please click on <a href="http://goalmine.eu/users/reset/{{ reset }}">this</a> link, or copy and paste the below url into a browser.</p>

<pre>http://goalmine.eu/users/reset/{{ reset }}</pre>

<p>If you did not request a reset, please ignore this email and continue to access Goalmine as normal.</p>

<footer>
<hr />
<p>Goalmine v{{ app.version }} ({{ app.name }})</p>
</footer>