<section>
  <h3>Bets - week {{ week }}</h3>
  <div class="outer">
    <div class="inner">
      <table id="betGrid" class="table">
        <thead>
          <tr>
            <th class="leftCol">Match</th>
            {{#each players }}
            <th>
              <div class="player"><a href="/users/{{ id }}">{{ username }}</a></div>
            </th>
            {{/each }}
          </tr>
        </thead>
        <tbody>
          {{#each table }}    
          <tr>
            <th class="leftCol">
              <div class="dt">{{ header.date }}</div>
              <div class="mt"><a href="/matches/{{ header.id }}">{{ header.fixture }}</a></div>
              <div class="res">{{ header.result }}</div>
              <div class="ret">{{ header.return }}</div>
            </th>
            {{#each bets }}
            <td class="player">
            {{#if this }}
              <div class="bet {{#if win }}win{{/if }}">
                <span>{{ prediction }}</span>
                <span class="outcome ">{{ outcome }}</span>                
              </div>
            {{ else }}
              &nbsp;
            {{/if }}
            </td>
            {{/each }}
          </tr>
          {{/each }}
        </tbody>
      </table>      
    </div>
  </div>

  {{# unless expired }}<a href="/bets/{{ week }}/edit" class="btn btn-primary">Edit Bets</a>{{/unless }}
</section>
{{#if standings }}
<section>
  <h3>Standings</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {{#each standings }}
      <tr>
        <td>{{ rank }}</td>
        <td>{{ username }}</td>
        <td>{{ balance }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>
{{/if }}
<style>
  table {
    table-layout: fixed; 
    width: 100%;
    *margin-left: -100px;/*ie7*/
  }
  .player {
    width: 130px; 
  }
  .bet {
    border-radius: 7px;
    color: #fff;
    padding: 2px 0 2px 4px;
    background-color: #800;
    width: 120px;
    margin: 0 auto;
  }
  .bet span:first-child {
    padding: 2px 0;
  }
  .outcome {
    width: 33%;
    padding: 0;
    border-radius: 0 7px 7px 0;
    margin: 0;
    float: right;
    text-align: center;
  }
  div.win {
    background-color: #060;
  }
  td, th {
    vertical-align: top;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 130px;
    font-size: 0.8rem;
    text-align: center;
  }
  th.leftCol {
    position:absolute;
    *position: relative; /*ie7*/
    left:0; 
    width: 30em; //300px;
  }
  th.leftCol div.dt { margin: 0; padding: 0; display: inline; width: 5em; }
  th.leftCol div.mt { margin: 0; padding: 0; display: inline; width: 12em; }
  th.leftCol div.res { margin: 0; padding: 0; display: inline; width: 8em; }
  th.leftCol div.ret { margin: 0; padding: 0; display: inline; width: 5em; }

  .outer {position:relative}
  .inner {
    overflow-x:scroll;
    overflow-y:visible;
    margin-left: 30em;
  }
</style>