<section>
  <h3>Matches</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>League</th>
        <th>Home</th>
        <th>Away</th>
        <th>Result</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr>
        <td>{{ fdate }}</td>
        <td><a href="/leagues/{{ league.id }}">{{ league.name }}</a></td>
        <td><a href="/teams/{{ TeamA.id }}">{{ TeamA.name }}</a></td>
        <td><a href="/teams/{{ TeamB.id }}">{{ TeamB.name }}</a></td>
        <td>{{ result }}</td>
        <td><a href="/matches/{{ id }}"><span class="fa fa-search"></span></a></td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>