<section>
  <div>
    <span>{{ data.TeamA.name }}</span><span> {{ result }} </span><span>{{ data.TeamB.name }}</span>
  </div>
  <div>
    {{ data.league.name }}, {{ data.fdate }}
  </div>
  {{#if data.predictions }}
  <section>
    <h3>Predictions</h3>
    {{#each data.predictions }}
    <p>
      <span>{{ user.username }}</span> 
      <span>{{ pred }}</span>
      <span>{{ points }}</span>
    </p>
    {{/each }}
  </section>
  {{/if }}

  {{#if data.bets }}
  <section>
    <h3>Bets</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Amount</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.bets }}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ amount }}</td>
          <td>{{ prediction }}</td>
        </tr>    
        {{/each }}
      </tbody>
    </table>


  </section>
  {{/if }}

  {{#if editable }}
    <a class="btn btn-info" href="/matches/edit/{{ data.id }}">Edit</a>
    <button data-mid="{{ data.id }}" data-week="{{ data.week_id }}" id="deleteMatch" class="btn btn-danger">Delete</button>
  {{/if }}
</section>
