<section>
  <h3>All Posts</h3>

  {{#each data }}
  <div data-postid="{{ id }}" class="post">
    <div class="postheader"><h4>{{ title }}</h4></div>
    <div class="postbody">
      <p>{{{ body }}}</p>        
    </div>
    <div class="postfooter">
      <p>
        <span>Posted by <a href="/users/{{ user.id }}">{{ user.username }}</a> on {{ date }}{{#if udate }}, updated on {{ udate }}{{/if }}</span>
        <span class="ctrls">
          {{#if ../user.admin }}
          <span><a href="/posts/edit/{{ id }}"><span title="edit" data-pid="{{ id }}" class="fa fa-pencil"></span></a></span>
          <span title="delete" data-pid="{{ id }}" class="fa fa-trash"></span>
          {{/if }}
        </span>
      </p>
    </div>
  </div>
  {{/each }}
  
</section>